@import url('https://fonts.googleapis.com/css?family=Bree Serif');


body{
    box-sizing: border-box;
    font-family:'Bre Serif' !important;
  }


/* The side navigation menu */
.sidebar {
  font-family: 'Bree Serif';
  margin: 0;
  padding: 0;
  width: 110px;
  /*background-color: #f1f1f1;*/
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #cccfcc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  overflow: auto;
  height:70%;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 10px 10px 16px 4px;
  text-decoration: none;
}

.fa-home{
  padding-left:25px;
}

/* Active/current link */
.sidebar a.active {
  color: white;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
  text-decoration: none;
}
.topnav {
    z-index:10;
    width:100%;
    top:0;
    position:fixed;
    height:60px;
    padding-bottom:10px;  
    background-color: #333;
    overflow: hidden;  
  }
    
.topnav a {
  height:60px;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd !important;
}

.topnav a.active {
  background-color: #333 !important;
  text-decoration: none;
  float:left;
  color:black;
  height:40px;
  padding:5px;
  margin:10px 5px 50px 5px;
}

.topnav a.active:hover{
  background-color: #333 !important;
  color:white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.button {
  font-family: 'Bree Serif';
  color:white !important;
  text-align: center !important;
  padding: 5px 20px 35px 20px!important;
  display: inline-block !important;
  margin: 10px 12px 30px 2px !important;
  height:10px !important;
  cursor: pointer !important;
  border-radius: 10px !important;
}

.button:hover{
  background-color: #DCD9D4 !important;
}

.showcase{
  width:100%;
  margin-top:60px !important;
}

.container{
  width: 74.3% !important;
}

#image{
  height: 461px !important;
  width: 461px !important;
}

.page-footer{
  width:100%;
  background-color: #333 !important;
  color:white !important;
  text-align: center !important;
  margin-top:10px !important; 
}

.fa-linkedin, .fa-instagram, .fa-google, .fa-github {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.fa-google {
  border-radius: 50px;
  background:#3B5998;
  color: white !important;
}

.fa-linkedin {
  border-radius: 50px;
  background:#3B5998;
  color: white !important;
}

.fa-instagram {
  border-radius: 50px;
  background:#3B5998;
  color: white !important;
}

.fa-github {
  border-radius: 50px;
  background:#3B5998;
  color: white !important;
}

.fa-linkedin:hover{
  opacity: 0.8;
  color:white !important;
  text-decoration: none !important;
}
.fa-instagram:hover{
  opacity: 0.8;
  color:white !important;
  text-decoration: none !important;
}
 .fa-google:hover{
  opacity: 0.8;
  color:white !important;
  text-decoration: none !important;
 }
 .fa-github:hover {
  opacity: 0.8;
  color:white !important;
  text-decoration: none !important;
}
a.sidenav-trigger.nav1-icon{
  padding:20px !important;
  background-color: #333 !important;
  border:none !important;
}

.nav1-icon:hover{
  color:white !important;
}

@media(min-width:1201px){
  .nav1, .nav1-icon{
    display:none !important;
  }
}

@media(min-width:1025px) and (max-width:1200px){
  .nav1, .nav1-icon{
      display:none !important;
  }
  
}


@media(min-width:769px) and (max-width:1024px){  
  .nav1{
    background-color:white !important;
    opacity:1;
  }
  .sidenav-overlay{
    opacity: 0 !important;
  }
  .hide-on-med-and-down{
    display:none!important;
  }
  
}

@media(min-width:481px) and (max-width:768px){
  .nav1{
    background-color:white !important;
    opacity:1;
  }
  .sidenav-overlay{
    opacity: 0 !important;
  }
  .hide-on-med-and-down{
    display:none!important;
  }
}  

@media(max-width:480px){
  .nav1{
    background-color:white !important;
    opacity:1;
  }
  .sidenav-overlay{
    opacity: 0 !important;
  }
  .hide-on-med-and-down{
    display:none!important;
  }
}





@media(max-width:1920px){
  #image{
      width: 650px !important;
      height: 520px !important;
  }
}
@media(max-width:1600px){
  #image{
      width: 600px !important;
      height: 480px !important;
  }
}
@media(max-width:1440px){
  #image{
      width: 530px !important;
      height: 493px !important;
  }
}


@media(max-width:1024px){
  #image{
      width: 369px !important;
      height: 347px !important;
  }
}
@media(max-width:768px){
  #image{
      width: 315.5px !important;
      height: 315.5px !important;
  }
}

@media(max-width:600px){
  #image{
      width: 580px !important;
      height: 450px !important; 
  }
}
@media(max-width:589px){
  #image{
      width: 600px !important;
      height: 600px !important;
  }
}

@media(max-width:425px){
  #image{
      width: 383px !important;
      height: 383px !important;
  }
}

@media(max-width:375px){
  #image{
      width: 337px !important;
      height: 337px !important;
  }
}


@media(max-width:320px){
  #image{
      width: 288px !important;
      height: 288px !important;
  }
}