@import url('https://fonts.googleapis.com/css?family=Bree Serif');

body{
  font-family: 'Bree Serif' !important;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }

h1{
  padding-left:55px;
}  

hr {
  width:100%;
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  font-size:20px !important;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
  text-decoration:none;
  overflow: hidden;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
  text-decoration:none;
}

button a:hover{
  text-decoration:none;
}


/* Add padding to containers */
.container {
  padding: 16px 6px 16px 30px !important;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

.topnav {
  z-index:10;
  width:100%;
  top:0;
  position:fixed;
  height:60px;
  padding-bottom:10px;  
  background-color: #333;
  overflow: hidden;  
}
  
.topnav a {
  height:60px;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd !important;
}

.topnav a.active {
  background-color: #333 !important;
  text-decoration: none;
  float:left;
  color:black;
  height:40px;
  padding:5px;
  margin:10px 5px 50px 5px;
}

.topnav a.active:hover{
  background-color: #333 !important;
  color:white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.button {
  font-size:18px !important;
  font-family: 'Bree Serif';
  color:white !important;
  text-align: center !important;
  padding: 8px 20px 30px 20px!important;
  display: inline-block !important;
  margin: 10px 12px 35px 2px !important;
  height:10px !important;
  cursor: pointer !important;
  border-radius: 10px !important;
  background-color: white !important;
}

.button:hover{
  background-color: #DCD9D4 !important;
}
  
.showcase{
  width:100%;
  padding:50px 400px 20px 450px;
  margin-top:60px !important;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

@media(min-width:1201px){
  .container{
    padding-left:20px !important;
    padding-right:0 !important;
    width:100% !important;
  }
}

@media(min-width:1025px) and (max-width:1200px){
  .container{
    padding-left:20px !important;
    padding-right:0 !important;
    width:100% !important;
  }
  .showcase{
    padding:50px 300px 20px 350px;
  }
}

@media(min-width:769px) and (max-width:1024px){
  .container{
    padding-left:20px !important;
    padding-right:0 !important;
    width:100% !important;
  }
  .showcase{
    padding:50px 220px 20px 200px;
  }
}

@media(min-width:481px) and (max-width:768px){
  .container{
    padding-left:15px !important;
    padding-right:0 !important;
    width:100% !important;
  }
  .showcase{
    padding:50px 80px 20px 80px;
  }
}

@media(max-width:480px){
  .container{
    padding-left:8px !important;
    padding-right:0 !important;
    width:100% !important;
  }
  .showcase{
    padding:50px 50px 20px 50px;
  }
}