@import url('https://fonts.googleapis.com/css?family=Bree Serif');

body{
    box-sizing: border-box;
    font-family: 'Bree Serif' !important;
  }

  /* The side navigation menu */
.sidebar {
  font-family: 'Bree Serif';
  font-size:15px;
  margin: 0;
  padding-top: 10px;
  width: 80px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 10px 10px 16px 4px;
    text-decoration: none;
  }
  
  .fa-home{
    padding-left:25px;
  }
  /* Active/current link */
  .sidebar a.active {
    color: white;
    text-decoration: none;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
  }

h2{
    margin-top:0 !important;
}


/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color:black !important;
}

label{
  color:black;
}
  
/* Style the container/contact section */
.container {
  color:black !important;
  font-size:2opx;
  border-radius: 5px;
  background-color: #f2f2f2;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn{
  font-size: 20px !important;
  margin-top:20px;
  margin-left:10px;
  padding: 6px 12px !important;
  cursor: pointer;    
  border-radius:5px !important; 
  cursor: pointer !important;
}

.btn:hover{
    background-color: rgb(105, 103, 103) !important;
}

#s-icon{
  font-size:18px !important;
  padding:5px !important;
}

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }