body{
    background-color:#fbfcf8;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:normal;
    line-height:1.5em;
    
    /*padding:90px;*/
    /*background-image:url('../images/header.jpg');*/
}

.container1{
    background-image:url('../images/header.jpg');
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;    
    text-align:center;
    color:white;
    line-height:1em;
    overflow:hidden;
}

.heading{
    line-height:3em;
}
nav ul li{
    display:inline;
    list-style-type: none;
    text-emphasis-position: 5em;
    font-size:25px;
  
}

.container2 a:hover{
    color:rgb(247, 31, 31);
    font-weight:bold;
}
.container2 nav ul li a{
    color:white;
    font-size:20px;
    text-transform:uppercase;
    width:100px;
    text-align: center;
    padding:0px 20px 0px 20px;
    overflow:hidden;
    
 }
 .container2{
    background-image: url('../images/nav.jpg');
    overflow:hidden;
    text-align: center;
}

.container3{
    text-align: center;
    background-color:rgb(228, 225, 225);
    overflow:hidden;
    font-size:20px;
    font-weight: 100;
    
}

.box1{
    font-size:30px;
    text-align: center;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}
.box2{
    font-size:30px;
    text-align: center;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}

.p{
    font-size:20px;
    padding:8px;
}
footer{
    padding:20px;
    
    color:white;
    background-color:#1c0583;
    text-align:center;
    overflow:hidden;
    border:solid;
    border-color: black;
}

.box3{
    font-size:30px;
}
.container4{
    text-align:center;
}

.container4{
    background-image: url('../images/form.jpg');
    color:white;
    width:100%;
    height:100%;
    padding:70px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form{
    padding-left:40%;
    font-size:20px;
    background-color:rgb(191, 229, 245);
    overflow: hidden;
    border:dotted black 3px;
    /*background-image: url('../images/application.jpg');
    background-position: -200px -200px;*/
    /*background-color:transparent;*/
}
/*.form1{
    background-color: grey;
    color:white;
}*/
.end{
    padding:20px;
    color:white;
    background-color:#1c0583;
    text-align:center;
    overflow:hidden;
    border:solid;
    border-color: black;
}
.head{
    background-image: url('../images/contact1.jpg');
    background-position: -100px ;
    color:white;
    text-align: center;
    font-size:25px;
    font-weight: bold;
    height:100%;
    width:100%;
    padding:3%;
    border-style: groove;
}
.container6{
    background-image: url('../images/pink.jpg');
    overflow:hidden;
    border-style: groove;
    width:100%;
    height:100%;
    padding: 3% 3%  ;
    text-align: center;
    font-size:16px;
    line-height:0.8em;
}
.box6{
    text-align: center;
    font-size:20px;
    font-family: cursive;
    padding-top: 10%;
    
}
ul li{
    line-height:1.8em;
    list-style-type: numeric;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    
}
.box7{
    text-align: left;
    color:rgb(29, 23, 23);
    
}
.box8{
    background-image: url('../images/contact.jpg');
    color:white;
}
.container7{
    padding:20px;
    
    color:white;
    background-color:#1c0583;
    text-align:center;
    overflow:hidden;
    border:solid;
    border-color: black;
}
