<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <% if(message) { %>
        <h1><%= message %></h1>
    <% } %>
    
    <form action="/forgotPassword" method="POST">
        <div>
            <label>Enter registered email id: </label>
            <input type="email" name="email" />
        </div>
        <div>
            <label>Enter new password: </label>
            <input type="password" name="password" />
        </div>
        <div>
            <label>Confirm password</label>
            <input type="password" name="confirmPass" />
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>