<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Login</title>

</head>
<body>
  <!--main navbar-->
  <div class="topnav" id="myTopnav">
    <a href="/" class="active bg-info text-white">i Learn</a>
    <a href="/login" class="waves-effect waves-whites waves-light btn button text-info" ><i class="fa fa-fw fa-user"></i>LOGIN</a>
    <a href="/register" class="waves-effect waves-whites waves-light btn button bg-info text-white" ><i class="fa fa-fw fa-user"></i>REGISTER</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
  </div> 

  <div class="showcase">
    <form action="/login" method="POST"> 
      <div class="container">          
        <h1>Login</h1>
        <hr>
        <% if(message) { %>
            <h1><%= message %></h1>
        <% } %>
        <div class="container">
          <label for="email"><b>Email ID</b></label><br>
          <input type="text" placeholder="Enter Email ID" name="email" required><br>
      
          <label for="password"><b>Password</b></label><br>
          <input type="password" placeholder="Enter Password" name="password" required><br>

          <button type="submit" class="bg-info"><a style="color:white"></a>Login</a></button><br><br>
          <p>Don't have an account? <a href="/register">Register</a>.</p>
          <label>
            <input type="checkbox" name="remember"> Remember me
          </label>
          <div class="forgot-password">
            <button><a href="/forgotPassword">Forgot Password</a></button>
          </div>
          
        </div>
           
      </div>
    </form>
  </div>
</body>
</html>