@import url('https://fonts.googleapis.com/css?family=Bree Serif');

body{
    box-sizing: border-box;
    font-family:'Bree Serif' !important;
}

h1{
  padding-left:10px;
}  

form {
  border: 3px solid #f1f1f1;
}

hr {
  width:100%;
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
  
.container {
  padding: 16px 16px 16px 70px !important;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
  border: solid black 2px ;
  outline: none;
}

/* Set a style for the submit/register button */
.registerbtn {
  font-size:20px !important;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
  text-decoration:none;
  overflow: hidden;
}
  
.registerbtn:hover {
  opacity: 0.8;
  text-decoration:none;
}

/* Add a blue text color to links */
a {
  text-decoration:none;
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.topnav {
  z-index:10;
  width:100%;
  top:0;
  position:fixed;
  height:60px;
  padding-bottom:10px;  
  background-color: #333;
  overflow: hidden;  
}
  
.topnav a {
  height:60px;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd !important;
}

.topnav a.active {
  background-color: #333 !important;
  text-decoration: none;
  float:left;
  color:black;
  height:40px;
  padding:5px;
  margin:10px 5px 50px 5px;
}

.topnav a.active:hover{
  background-color: #333 !important;
  color:white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.button {
  font-size:18px !important;
  font-family: 'Bree Serif';
  color:white !important;
  text-align: center !important;
  padding: 8px 20px 30px 20px!important;
  display: inline-block !important;
  margin: 10px 12px 35px 2px !important;
  height:10px !important;
  cursor: pointer !important;
  border-radius: 10px !important;
  background-color: white !important;
}

.button:hover{
  background-color: #DCD9D4 !important;
}

.showcase{
  width:100%;
  padding:20px 400px 20px 350px;
  margin:60px !important;
}


@media(min-width:1201px){
  .container{
    padding-left:50px !important;
    width:100% !important;
  }
}

@media(min-width:1025px) and (max-width:1200px){
  .container{
    padding-left:50px !important;
    width:100% !important;
  }
  .showcase{
    padding:50px 300px 20px 200px;
  }
}

@media(min-width:769px) and (max-width:1024px){
  .container{
    padding-left:50px !important;
    width:100% !important;
  }
  .showcase{
    padding:50px 220px 20px 100px;
  }
}

@media(min-width:481px) and (max-width:768px){
  .container{
    padding-left:20px !important;
    width:100% !important;
  }
  .showcase{
    padding:50px 100px 20px 10px;
  }
}

@media(max-width:480px){
  .container{
    padding-left:25px !important;
    width:100% !important;
  }
  .showcase{
    width:80%;
    padding:50px 1px 20px 1px;
  }
}